# Python Cheat Sheet

- [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)

- https://docs.python.org/3/tutorial/interpreter.html
- Supported codecs [https://docs.python.org/3/library/codecs.html#module-codecs]

```python
# supported codecs
utf-8, utf-16, utf-32, utf-16-be, utf-16-le, utf-32-be, utf-32-le
```

In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# supported codecs: utf-8, utf-16, utf-32, utf-16-be, utf-16-le, utf-32-be, utf-32-le

import sys
print("Python version:", sys.version)
print("Version info:", sys.version_info)

Python version: 3.7.10 (default, May  3 2021, 02:48:31)
[GCC 7.5.0]
Version info: sys.version_info(major=3, minor=7, micro=10, releaselevel='final', serial=0)

## Comments

In [ ]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

"""this is a
multi-line comment"""

'this is a\nmulti-line comment'

## Strings

In [ ]:
# string definition
my_string = "double quotes"
another_string = 'single quotes'
a_long_string = '''multi-line
strings'''

In [ ]:
# \ can be used to escape quotes:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [ ]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [ ]:
"\"Yes\""  # use \" to escape the double quotes

'"Yes"'

In [ ]:
'"Yes"'  # or use single quotes instead

'"Yes"'

In [ ]:
print("Let’s print out a string!")

Let’s print out a string!

In [ ]:
# \ also escapes other special characters
# \n means newline
# without print(), \n is included in the output
s = 'First line.\nSecond line.'
s

'First line.\nSecond line.'

In [ ]:
# \n means newline
# with print(), \n produces a new line
s = 'First line.\nSecond line.'
print(s)

First line.
Second line.

In [ ]:
# If you don’t want characters prefaced by \ to be interpreted as special
# characters, you can use raw strings by adding an r before the first quote:
s = r'First line.\nSecond line.'
print(s)

First line.\nSecond line.

In [ ]:
# String literals can span multiple lines using triple-quotes:
# """...""" or '''...'''
# End of lines are automatically included in the string, but it’s possible to
# prevent this by adding a \ at the end of the line.

print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [ ]:
# Two or more string literals next to each other are automatically concatenated.
# This only works with two literals though, not with variables or expressions.
'Py' 'thon'

'Python'

In [ ]:
# This feature is particularly useful when you want to break long strings:

text = ('Put several strings within parentheses '
         'to have them joined together.')

text

'Put several strings within parentheses to have them joined together.'

In [ ]:
# concatenation of strings with the + operator
string_one = "I'm learning "
string_two = "python!"
string_one + string_two

"I'm learning python!"

In [ ]:
# concatenation of a numeric type must be cast to string
print("Pi is " + str(3.14))

Pi is 3.14

In [ ]:
# string replication with the * operator
'Python' * 5

'PythonPythonPythonPythonPython'

In [ ]:
# string replication with print()
print('Python' * 5)

PythonPythonPythonPythonPython

In [ ]:
# string variable
my_str = "Hello World"
print(my_str)

Hello World

In [ ]:
# Strings can be indexed (subscripted), with the first character having index 0.
# There is no separate character type; a character is simply a string of size one:
word = 'Python'
word[0]  # character in position 0

'P'

In [ ]:
# Indices may also be negative numbers, to start counting from the right:
word = 'Python'
word[-2]

'o'

In [ ]:
# Slicing is supported for obtaining substrings.
word = 'Python'
word[0:2]

'Py'

In [ ]:
# The end index can be exluded to slice to the end of the string
word = 'Python'
word[2:]

'thon'

In [ ]:
# The beginning can be excluded to slice from the start of the string
word = 'Python'
word[:4]

'Pyth'

In [ ]:
# Start and end indices can both be negative
word = 'Python'
word[:-2]

'Pyth'

In [ ]:
# Attempting to use an index that is too large will result in an error:
word = 'Python'
word[42]

IndexError: ignored

In [ ]:
# out of range slice indexes are handled gracefully when used for slicing:
word = 'Python'
word[42:]  # empty string

''

In [ ]:
# Using just [:] can be used to make a deep copy of a string
word1 = 'Python'
word2 = word1[:]

word2

'Python'

In [ ]:
# len() returns the length of the string as an int
word = 'Python'
len(word)

6

In [ ]:
# Python strings are immutable.
word = 'Python'
word[0] = 'J'

TypeError: ignored

In [ ]:
# Because strings are immutable, to change a string, create a new one.
word1 = 'Python'
word2 = 'J' + word1[1:]

word2

'Jython'

## Math

In [ ]:
# + -- addition
2 + 2

4

In [ ]:
# - -- subtraction 
5 - 2

3

In [ ]:
# * -- multiplication 
3 * 3

9

In [ ]:
# / -- division
# division always returns a floating point number
22 / 8

2.75

In [ ]:
# // -- integer division / floor division
# discards the decimal portion of a division operation and returns an int
22 // 8

2

In [ ]:
# %  -- modulus / remainder
# returns the remainder of division as an int
22 % 8

6

In [ ]:
# ** -- exponent
2 ** 3

8

In [ ]:
# be careful with negative exponents
# the following results in -9 becuase ** has a higher precedence than the negative
-3 ** 2

-9

In [ ]:
# a fix for the above issue
(-3) ** 2

9

In [ ]:
# however, variables don't have this problem because the - and 3 evaluate together
x = -3
x ** 2

9

In [ ]:
# operators with mixed type operands convert the integer operand to floating point
4 * 3.75 - 1

14.0

## Variables

In [ ]:
# equality assigns a value to a variable
width = 20
height = 5 * 9
width * height

900

In [ ]:
# try to access an undefined variable
n

NameError: ignored

In [ ]:
# multiple variable assignment on one line
a, b = 0, 1

print(a)
print(b)

0
1

## Built-in Functions

In [ ]:
# input()
# prompt for user input

name = input("What is your name? ")

print("You entered: " + name )

What is your name? Chris
You entered: Chris

In [ ]:
# len()
# find the length of any string, list, tuple, dictionary, or data type

str1 = "Python is the future!"

print("length =", len(str1))

length = 21

In [ ]:
# filter()
# excludes items in an iterable object: lists, tuples, dictionaries, etc.

ages = [5, 12, 17, 18, 24, 32]

def over_18(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(over_18, ages)

for x in adults:
  print(x)

18
24
32

In [ ]:
# range(n)
# generates arithmetic progressions from 0 to n - 1 (the argument is non-inclusive)

for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# range(<start>, <stop>)

for i in range(5, 10):
  print(i)

5
6
7
8
9

In [ ]:
# range(<start>, <stop>, <step>)
# increments of 3

for i in range(0, 10, 3):
  print(i)

0
3
6
9

In [ ]:
# range(<start>, <stop>, <step>)
# increments of -30

for i in range(-10, -100, -30):
  print(i)

-10
-40
-70

In [ ]:
# len() and range()
# Iterate over the indices of a sequence combining range() and len() as follows:

a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in range(len(a)):
  print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
# range()
# range is an iterable object: the string it returns does not display the
# results of iteration

print(range(10))

range(0, 10)

In [ ]:
# range() and sum()

sum(range(4))

6

In [ ]:
# range(), list(), and tuple()

# convert a range to a list
r_list = list(range(4))
print(r_list)

# convert a range to a tuple
r_tuple = tuple(range(4))
print(r_tuple)

[0, 1, 2, 3]
(0, 1, 2, 3)

## Functions

In [ ]:
# def
# def defines a function

def hello():
  print("Hello.")

# call it
hello()

Hello.

In [ ]:
# def
# a function with arguments inputs

def add_numbers(x, y, z):
  a = x + y
  b = x + z
  c = y + z
  print(a, b, c)

# call it
add_numbers(1, 2, 3)

3 4 5

In [ ]:
# function keyword arguments
# specify the argument name when calling the function for clarity

def add_numbers(x, y, z):
  a = x + y
  b = x + z
  c = y + z
  print(a, b, c)

# call it with keyword paremeters
add_numbers(x=1, y=2, z=3)

3 4 5

In [ ]:
# function default keyword arguments
# a default keyword argument can be given a value in the the function definition
# and are optional when calling it which uses the default.
# arguments without a default are considered positional and are required.
# positional arguments must precede default keyword arguments in the function
# definition.

# x here is required, y and z are optional
def add_numbers(x, y=1, z=1):
  a = x + y
  b = x + z
  c = y + z
  print(a, b, c)

# call it only supplying the required argument
add_numbers(2)  # only x

# call it without keyword arguments
add_numbers(2, 3, 4)

# call it with keyword arguments
add_numbers(x=2, y=3, z=4)

# call it with keyword arguments out-of-order
# just because you can doesn't mean you should
add_numbers(z=4, x=2)

3 3 2
5 6 7
5 6 7
3 6 5

In [ ]:
# function default keyword arguments and lists
# WARNING: The default value is evaluated only once.  If the default is a list,
# subsequent calls reference the already initialized and possibly modified value

# avoid this
def f(a, L=[]):
    L.append(a)
    return L

# this probably isn't what you want...
print(f(1))
print(f(2))
print(f(3))

# do this instead
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]
[1]
[2]
[3]

In [ ]:
# None
# None is equivalant to null in other languages
# functions that have no return value actually return None

def a_void_function():
  print('doing something with no return value')

# you wouldn't do this since there is no return value...for demo purposes
result = a_void_function()

# prints None
print(result)

doing something with no return value
None

In [ ]:
# return
# return some result of the function - value, sequence, object, etc.

# this function constructs and returns a list
# this is a common occurrence and you should always ask yourself whether
# the result of a function might make sense to iterate over and return
# a list instead of a single value

def fib(n):
  """Return a list containing the Fibonacci series up to n."""
  result = []

  a, b = 0, 1

  while a < n:
    result.append(a)    # see below
    a, b = b, a+b

  return result

fib_list = fib(5)

fib_list

[0, 1, 1, 2, 3]

In [ ]:
# * preceding an argument name, usualy *args, allow a variable number of positional arguments that are combined into a tuple
# ** preceding an argument name, usualy **kwargs, allow a variable number of keyword arguments that are combined into a dictionary

# these are ways of supplying a variable number of arguments that are typically
# used with conditional statements when a large number of variants would cause
# a corresponding explosion in the variants of the function.

def cheeseshop_sketch(cheese_variety, *args, **kwargs):
    print("-- Do you have any", cheese_variety, "?")
    print("-- I'm sorry, we're all out of", cheese_variety)

    # loop over the packed tuple of positional arguments
    for arg in args:
        print("  ", arg)

    print("-" * 40)

    # loop over the packed dict of keyword arguments
    for kw in kwargs:
        print(kw, ":", kwargs[kw])

cheeseshop_sketch("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

print()

# here the stars are necessary to unpack the tuple and dict when calling the function
# this allows nesting because both a tuple and a  dictionary could also be a single argument
# which is what happens if you don't use the stars when calling the function
args = ("It's very runny, sir.", "It's really very, VERY runny, sir.")
kwargs = {
    "shopkeeper": "Michael Palin",
    "client": "John Cleese",
    "sketch": "Cheese Shop Sketch"
}
cheeseshop_sketch("Limburger", *args, **kwargs)

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
   It's very runny, sir.
   It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
   It's very runny, sir.
   It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [ ]:
# / can be placed in a function def to force all arguments that precede to be positional only
# * can be placed alone in a function def to force all arguments that follow to be keyword only
# If / and * are not present in the function definition, arguments may be passed to a function by position or by keyword.
# keyword only - place an * in the arguments list just after the last position-only parameters
# positional only - place a / in the arguments list just before the first keyword-only parameters

# this fails because the python runtime isn't a high enough version
# need to look up when this feature was introduced

def standard_arg(arg):
  print(arg)

def pos_only_arg(arg, /):
  print(arg)

def kwd_only_arg(*, arg):
  print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
  print(pos_only, standard, kwd_only)


standard_arg(1)
standard_arg(arg=1)

pos_only_arg(1)

kwd_only_arg(arg=1)

combined_example(1, 2, kwd_only=3):
combined_example(1, standard=2, kwd_only=3):

SyntaxError: ignored

In [ ]:
# lambda
# lambda expressions are small anonymous (unnamed) functions
# lambda expressions can be used wherever function objects are required
# they are syntactically restricted to a single expression: no other statements
# they are just syntactic sugar for a normal function definition
# lambda expressions can reference variables from the containing scope
# lambdas support the same argument defintion options as regular functions
# including keyword defaults, variable number arguments, variable number
# keyword arguments, keyword only arguments, etc.

# IIFE -- immeidately invoked function expression
result = (lambda x: x + 1)(2)
print(result)

# assigning a lambda to a variable and then calling it
add_one = lambda x: x + 1
result = add_one(2)
print(result)

# multiple arguments
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
result = full_name('Guido', 'Van Rossum')
print(result)

3
3
Full name: Guido Van Rossum

In [ ]:
# lambda and map()

# mapping the x.upper() function over the list
lambda_caps = list(map(lambda x: x.upper(), ['cat', 'dog', 'cow']))

# alternative with a list comprehension
comprehension_caps = [x.upper() for x in['cat', 'dog', 'cow']]

print(f"lambda_caps={lambda_caps}")
print(f"comprehension_caps={comprehension_caps}")

lambda_caps=['CAT', 'DOG', 'COW']
comprehension_caps=['CAT', 'DOG', 'COW']

In [ ]:
# lambda and filter()

# filtering a list where 'o' is in each word
lambda_ohs = list(filter(lambda x: 'o' in x, ['cat', 'dog', 'cow']))

# alternative with a list comprehension
comprehension_ohs = [x for x in['cat', 'dog', 'cow'] if 'o' in x]

print(f"lambda_ohs={lambda_ohs}")
print(f"comprehension_ohs={comprehension_ohs}")

lambda_ohs=['dog', 'cow']
comprehension_ohs=['dog', 'cow']

In [ ]:
# lambda and reduce()
from functools import reduce
reduce(lambda acc, x: f'{acc} | {x}', ['cat', 'dog', 'cow'])

'cat | dog | cow'

In [ ]:
# lambda and sorted()
# key supplies a sorting function for a custom sorting algorithm

ids = ['id1', 'id2', 'id30', 'id3', 'id22', 'id100']

# sort alphanumerically
alpha_sorted = sorted(ids)
print(f"alpha_sorted={alpha_sorted}")

# sort by the integer portion instead
int_sorted = sorted(ids, key=lambda x: int(x[2:]))
print(f"int_sorted={int_sorted}")

alpha_sorted=['id1', 'id100', 'id2', 'id22', 'id3', 'id30']
int_sorted=['id1', 'id2', 'id3', 'id22', 'id30', 'id100']

In [ ]:
# decorators
# decorators are preceded with an @ symbol and add behavior to a function or class

def decorator(f):
  # called when assigned to the function
  print(f"enter decorator(f={f})")

  def wrapper(*args, **kwargs):
    # called before the function is called
    print(f"enter wrapper(args={args}, kwargs={kwargs})")
    
    # call the decorated function
    result = f(*args, **kwargs)

    # called after the function is called
    print(f"exit wrapper(args={args}, kwargs={kwargs})")
    return result
  
  # called when assigned to the function
  print(f"exit decorator(f={f})")

  return wrapper

@decorator
def decorated_function(x):
  # called when the function is called inside the wraps function
  print(f"  call decorated_function(x={x})")
  return x

print()

# note that only wraps() in decorator() is executed when called
x = decorated_function(25)

print()
print(f"x={x}")
print()

# decorators can be used on lambdas but cannot use the @ symbol
decorated_lambda = decorator(lambda x, y: x + y)

print()

y = decorated_lambda(2, 3)

print()
print(f"y={y}")
print()

enter decorator(f=<function decorated_function at 0x7fec01b4b050>)
exit decorator(f=<function decorated_function at 0x7fec01b4b050>)

enter wrapper(args=(25,), kwargs={})
  call decorated_function(x=25)
exit wrapper(args=(25,), kwargs={})

x=25

enter decorator(f=<function <lambda> at 0x7fec01b47dd0>)
exit decorator(f=<function <lambda> at 0x7fec01b47dd0>)

enter wrapper(args=(2, 3), kwargs={})
exit wrapper(args=(2, 3), kwargs={})

y=5

In [ ]:
# decorators with arguments
# decorators with arguments require another outer function

def some_decorator(param1, param2, param3):
  print(f"enter some_decorator(param1={param1}, param2={param2}, param3={param3})")

  def decorator(f):
    # called when assigned to the function
    print(f"enter decorator(f={f})")

    def wrapper(*args, **kwargs):
      # called before the function is called
      print(f"enter wrapper(args={args}, kwargs={kwargs})")

      print(f"  wrapper(args={args}, kwargs={kwargs}): param1={param1}, param2={param2}, param3={param3}")
    
      # call the decorated function
      result = f(*args, **kwargs)

      # called after the function is called
      print(f"exit wrapper(args={args}, kwargs={kwargs})")

      return result
  
    # called when assigned to the function
    print(f"exit decorator(f={f})")
    return wrapper
  
  print(f"exit some_decorator(param1={param1}, param2={param2}, param3={param3})")
  return decorator

@some_decorator(param1='a', param2='b', param3='c')
def decorated_function(x):
  # called when the function is called inside the wraps function
  print(f"  call decorated_function(x={x})")
  return x

print()

# note that only wraps() in some_decorator() is executed when called
x = decorated_function(25)

print()
print(f"x={x}")
print()

enter some_decorator(param1=a, param2=b, param3=c)
exit some_decorator(param1=a, param2=b, param3=c)
enter decorator(f=<function decorated_function at 0x7febfda71ef0>)
exit decorator(f=<function decorated_function at 0x7febfda71ef0>)

enter wrapper(args=(25,), kwargs={})
  wrapper(args=(25,), kwargs={}): param1=a, param2=b, param3=c
  call decorated_function(x=25)
exit wrapper(args=(25,), kwargs={})

x=25

In [ ]:
# function annotations

# Function annotations are optional metadata about the types used in
# user-defined functions.

# Annotations are stored in the __annotations__ attribute of the function as a
# dictionary and have no effect on any other part of the function.

# Parameter annotations are defined by a colon after the parameter name,
# followed by an expression evaluating to the value of the annotation.

# Return annotations are defined by a literal ->, followed by an expression,
# between the parameter list and the colon denoting the end of the def statement.

# The following example has a required argument, an optional argument, and 
# return value annotated:
def annotations_demo(ham: str, eggs: str='eggs') -> str:
  print("Annotations:", f.__annotations__)
  print("Arguments:", ham, eggs)
  return ham + ' and ' + eggs

annotations_demo('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

## Lists

- Lists are a mutable (can be changed) sequence of ordered elements.
- Tuples are an immutable (cannot be changed) sequence of ordered elements.


### List Methods:

Because lists are mutable, methods that modify a list do no return a new list, they modify the existing list in-place.

`list.append(x)`
- Add an item to the end of the list.
- Equivalent to `a[len(a):] = [x]`.

`list.extend(iterable)`
- Extend the list by appending all the items from the iterable.
- Equivalent to `a[len(a):] = iterable`.

`list.insert(i, x)`
- Insert an item at a given position.
- `i` is the index of the element before which to insert.
- `a.insert(0, x)` inserts at the front of the list
- `a.insert(len(a), x)` is equivalent to `a.append(x)`.

`list.remove(x)`
- Remove the first item from the list whose value is equal to x. 
- It raises a `ValueError` if there is no such item.

`list.pop([i])`
- Remove the item at the given position in the list, and return it.
- If no index is specified, `a.pop()` removes and returns the last item in the list.

`list.clear()`
- Remove all items from the list.
- Equivalent to `del a[:]`.

`list.index(x[, start[, end]])`
- Return zero-based index in the list of the first item whose value is equal to `x`.
- Raises a `ValueError` if there is no such item.
- The optional arguments `start` and `end` are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list.
- The returned index is computed relative to the beginning of the full sequence rather than the start argument.

`list.count(x)`
- Return the number of times `x` appears in the list.

`list.sort(*, key=None, reverse=False)`
- Sort the items of the list in place (the arguments can be used for sort customization, see `sorted()` for their explanation).

`list.reverse()`
- Reverse the elements of the list in place.

`list.copy()`
- Return a shallow copy of the list. Equivalent to `a[:]`.

In [ ]:
# list_name = list()
# empty list

empty_list = list()

empty_list

[]

In [ ]:
# list_name = []
# empty list

empty_list = []

empty_list

[]

In [ ]:
# list_name = list(<tuple>)
# declare and initalize a list in one line with a tuple as an argument

list_from_tuple = list(("1", "2", "3"))  

list_from_tuple

['1', '2', '3']

In [ ]:
# list declartation and initialization in one line with only ints

int_list = [1, 2, 3]

int_list

[1, 2, 3]

In [ ]:
# list declartation and initialization in one line with only floats

float_list = [1.2, 2.3, 3.4]

float_list

[1.2, 2.3, 3.4]

In [ ]:
# list declartation and initialization in one line with only strings

string_list= ['a', 'b', 'c']

string_list

['a', 'b', 'c']

In [ ]:
# list of mixed types which can include objects and even functions

def my_func():
  pass

my_str = 'a string variable'
my_list = ['this', 'is', 'sub', 'list']
my_dict = {'key1': 1, 'key2': 2, 'key3': 'this is a sub dictionary' }
mixed_type_list = ['4', my_str, 'a string', 5, 3.14, my_list, my_dict, object(), my_func]

mixed_type_list

['4',
 'a string variable',
 'a string',
 5,
 3.14,
 ['this', 'is', 'sub', 'list'],
 {'key1': 1, 'key2': 2, 'key3': 'this is a sub dictionary'},
 <object at 0x7ffa41271eb0>,
 <function __main__.my_func>]

In [ ]:
# <list>[<i>] = <value>
# change a list item's value

fruits = ["apple", "banana", "orange"]
fruits[1] = "pear"

fruits

['apple', 'pear', 'orange']

In [ ]:
# [i:j]
# like strings, all other built-in sequence types can be indexed and sliced
numbers = [34, 23, 67, 100, 88, 2]

# positive and negative indices
print(numbers[0])
print(numbers[-1])

# slice
print(numbers[2:])
print(numbers[-2:])
print(numbers[:2])
print(numbers[:-1])
print(numbers[2:4])
print(numbers[2:-1])

34
2
[67, 100, 88, 2]
[88, 2]
[34, 23]
[34, 23, 67, 100, 88]
[67, 100]
[67, 100, 88]

In [ ]:
# make a shallow copy
numbers = [34, 23, 67, 100, 88, 2]

numbers2 = numbers[:]

numbers2

[34, 23, 67, 100, 88, 2]

In [ ]:
# assignment to slices is also possible, and this can even change the size of
# the list or clear it entirely:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

# replace some values
letters[2:5] = ['C', 'D', 'E']

letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [ ]:
# now remove them
letters = ['a', 'b', 'C', 'D', 'E', 'f', 'g']

letters[2:5] = []

letters

['a', 'b', 'f', 'g']

In [ ]:
# clear the list by replacing all the elements with an empty list
letters = ['a', 'b', 'f', 'g']

letters[:] = []

letters

[]

In [ ]:
# The built-in function len() also applies to lists:
letters = ['a', 'b', 'c', 'd']

len(letters)

4

In [ ]:
# It is possible to nest lists (create lists containing other lists)
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]

x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
# in
# determine if a value is contained in a list or other sequence

print('Enter (Y)es or (N)o:')
ok = None

# determine if what was entered is in the list
while True:
  prompt = input()
  print('{} was entered'.format(prompt))

  if prompt.lower() in ('y', 'ye', 'yes'):
    ok = True
    break
  elif prompt.lower() in ('n', 'no'):
    ok = False
    break
  else:
    print('invalid input')
  
ok

Enter (Y)es or (N)o:
Y
Y was entered

True

In [ ]:
# <list>.append()
# adds items to the end of a list

fruits = ["apple", "banana", "orange"]
fruits.append("grapes")

fruits

['apple', 'banana', 'orange', 'grapes']

In [ ]:
# <list>.extend(<iterable>)
# adds all items from the supplied iterable to the end of a list

fruits = ["apple", "banana", "orange"]
fruits.extend(["grapes", "kiwi", "pear"])

fruits

['apple', 'banana', 'orange', 'grapes', 'kiwi', 'pear']

In [ ]:
# <list>.insert()
# adds items to a particular index position starting at 0

fruits = ["apple", "banana", "orange"]
fruits.insert(1, "grapes")

fruits

['apple', 'grapes', 'banana', 'orange']

In [ ]:
# <list>.remove()
# removes / deletes the first occurence of an item from a list BY VALUE

fruits = ["apple", "banana", "orange"]
fruits.remove("banana")  # remove the value "banana"

fruits

['apple', 'orange']

In [ ]:
# <list>.pop()
# removes an item from the end of the list and returns it - last in, first out (LIFO)

fruits = ["apple", "banana", "orange"]
print(fruits.pop())  # return the last item

fruits

orange

['apple', 'banana']

In [ ]:
# <list>.pop(i)
# Removes an item from a specific index of the list and returns it

fruits = ["apple", "banana", "orange"]
fruit1 = fruits.pop(1)  # return item indexed 1

print(fruit1)
print(fruits)

banana
['apple', 'orange']

In [ ]:
# <list>.clear()
# Remove all items from the list.  Equivalent to del a[:]

fruits1 = ["apple", "banana", "orange"]
fruits1.clear()

fruits2 = ["apple", "banana", "orange"]
del fruits2[:]

print(f"fruits1 = {fruits1}")
print(f"fruits2 = {fruits2}")

fruits1 = []
fruits2 = []

In [ ]:
# <list>.sort()
# sort a list

numbers = [34, 23, 67, 100, 88, 2]
numbers.sort()

numbers

[2, 23, 34, 67, 88, 100]

In [ ]:
# <list>.reverse()
# reverse the order of a list

numbers1 = [34, 23, 67, 100, 88, 2]
numbers1.reverse()

print(f"numbers1 = {numbers1}")

numbers2 = [34, 23, 67, 100, 88, 2]
numbers2.sort(reverse=True)

print(f"numbers2 = {numbers2}")

numbers1 = [2, 88, 100, 67, 23, 34]
numbers2 = [100, 88, 67, 34, 23, 2]

In [ ]:
# del <list>[<i>]
# removes / deletes an item from a list BY INDEX

fruits = ["apple", "banana", "orange"]
del fruits[1]  # delete index 1

fruits

['apple', 'orange']

In [ ]:
# <list1> + <list2>
# concatenates two or more lists

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = list1 + list2

list3

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
# for...in with range(len(<list>))
# loop over a list by index using range() and len()

fruits = ["apple", "banana", "orange"]

for i in range(len(fruits)):
  print(fruits[i])

apple
banana
orange

In [ ]:
# loop over a list with for...in

fruits = ["apple", "banana", "orange"]

for fruit in fruits:
  print(fruit)

apple
banana
orange

In [ ]:
# modifying lists inside a loop is error-prone, instead make a copy or
# create a new collection

users = {{'tom', 'active'}, {'dick', 'inactive'), ('harry', 'active')}

# iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

print(users)

AttributeError: ignored

In [ ]:
# list_name.copy()
# copy a list with list_name.copy()
fruits2 = fruits.copy()

fruits2

['apple', 'banana', 'orange']

In [ ]:
# list(sequence_name)
# copy a list with list()

fruits2 = list(fruits)

fruits2

['apple', 'banana', 'orange']

In [ ]:
# list comprehension
# list_variable = [x for x in iterable]

squares = [x ** 2 for x in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# list comprehension with an if condition
# [x for x in iterable if condition]
# supports all 3: if...elif...else

even_squares = [x ** 2 for x in range(10) if x % 2 == 0]

even_squares

[0, 4, 16, 36, 64]

## Tuples

- Tuples are an immutable (cannot be changed) sequence of ordered elements
- Lists are a mutable (can be changed) sequence of ordered elements.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

my_tuple[0:3]

(1, 2, 3)

In [ ]:
# sliding a tuple is similar to slicing a list
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

numbers[1:11:2]

(1, 3, 5, 7, 9)

In [ ]:
# converting a tuple to a list with list()
fruits_tuple = ("apple", "orange", "pear")

fruits_list = list(fruits_tuple)

fruits_list

['apple', 'orange', 'pear']

In [ ]:
# converting a list to a tuple with tuple()
fruits_list = ("apple", "orange", "pear")

fruits_tuple = tuple(fruits_list)

fruits_tuple

('apple', 'orange', 'pear')

## Dictionaries

- A dictionary is a mutable data structure that contains key-value pairs.
- Keys can be a string, integer, or boolean (`True` / `False`).

In [ ]:
# defining an empty dictionary with dict()
my_dict = dict()

my_dict

{}

In [ ]:
# defining an empty dictionary with {}
my_dict = {}

my_dict

{}

In [ ]:
# initializing a dictionary with {}
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

cars

{'brand': 'Chevrolet', 'model': 'Corvette', 'year': 2020}

In [ ]:
# accessing a dict value with its key
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}
 
cars["model"]

'Corvette'

In [ ]:
# dict.keys() returns just the keys of the dict - typically used in looping
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

cars.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
# dict.values() returns just the values of the dict - typically used in looping
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

cars.values()

dict_values(['Chevrolet', 'Corvette', 2020])

In [ ]:
# dict.items() returns a tuple in the format of (key, value) tuple pairs - typically used in looping
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

cars.items()

dict_items([('brand', 'Chevrolet'), ('model', 'Corvette'), ('year', 2020)])

In [ ]:
# changing a dict item's value
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

cars["year"] = 2021

cars["year"]

2021

In [ ]:
# looping over the keys in a dict
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

for key in cars:
  print("cars['{}'] = {}".format(key, cars[key]))

cars['brand'] = Chevrolet
cars['model'] = Corvette
cars['year'] = 2020

In [ ]:
# loop over the keys of a dict
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

for key in cars.keys():
  print(key)

brand
model
year

In [ ]:
# loop over the values of a dict
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

for value in cars.values():
  print(value)

Chevrolet
Corvette
2020

In [ ]:
# loop over the tuple of items in a dict
cars = {
  "brand": "Chevrolet",
  "model": "Corvette",
  "year": 2020
}

for k, v in cars.items():
  print(k, v)

brand Chevrolet
model Corvette
year 2020

## If Statements

- Each statement checks whether the condition is `True` and runs the block if so.
- Must contain an `if` block
- Can contain zero or more `if else` blocks
- Can contain zero or one `else` blocks
- `if` and `elif` statemnts can contain logical operators to determine whether or not to execute:
  - `==` equals
  - `!=` not equals
  - `<` less than
  - `>` greater than
  - `<=` less than or equals
  - `>=` greater than or equals
  - `is` is the supplied value
  - `not` not the supplied value
- If statements and loops can be nested within one another for more complex logic.

In [ ]:
# if statement
if 5 > 1:
  print("True")

True

In [ ]:
# if...elif
if 5 < 1:
  print("if executed")
elif 5 > 1:
  print("elif executed")

elif executed

In [ ]:
# if...else
if 5 < 1:
  print("if executed")
else:
  print("else executed")

else executed

In [ ]:
# if...elif...else
i = 10

if i < 0:
  print("negative")
elif i > 0:
  print("positive")
else:
  print("zero")

positive

In [ ]:
# nested if statements
i = 10

if i < 0:
  print("negative")

  if i < -10:
    print("less than -10")
  else:
    print("between -10 and 0")
elif i > 0:
  print("positive")

  if i > 10:
    print("10 or more")  
  else:
    print("between 0 and 10")
else:
  print("zero")

positive
between 0 and 10

In [ ]:
# in is used to check for list / tuple membership
numbers = [1, 2, 3, 4]

i = 3

if i in numbers:
  print("{} IS in the list".format(i))

3 IS in the list

In [ ]:
# not used with in is used to check for lack of list / tuple membership
numbers = (1, 2, 3, 4)

i = 10

if i not in numbers:
  print("{} IS NOT in the tuple".format(i))

10 IS NOT in the tuple

In [ ]:
# pass

# used in an empty if...elif...else, try...catch, or loop to prevent an
# empty block from throwing an error.  Used to ignore expected errors which
# shouldn't halt the program, keep a loop running for user input, etc.

# Typically this shouldn't be used as in the example below the opposite
# condition of a > b is probably what really needs to be checked.

a = 10
b = 100

if b > a:
  pass

# stuff an expected failure
# be careful doing this: you probably should log it
try:
  1 / 0
except Exception as e:
  pass

# commonly used to create minimal classes
class MyEmptyClass:
  def my_empty_method():
    pass

# a placeholder for implementing something later
def do_seomthing(*args):
  # TODO
  pass

## Loops

In [ ]:
# while loops execute as long as the condition is True
a, b = 0, 1

# Fibonacci series: the sum of two elements defines the next
while a < 10:
 print(a)
 a, b = b, a + b

0
1
1
2
3
5
8

In [ ]:
# print() - The keyword argument end can be used to avoid the newline after the output, or end the output with a different string:
a, b = 0, 1

while a < 10:
 print(a, end=',')
 a, b = b, a + b

0,1,1,2,3,5,8,

In [ ]:
# for loops can iterate over any sequence, usually lists, dictionaries, and tuples
for a in "abcde":
  print(a)

a
b
c
d
e

In [ ]:
# break
# stop processing the loop, usually when some condition is met

i = 1

while i < 8:
  print(i)

  if i == 4:
    # stops the loop once i is equal to 4
    break

  i += 1

1
2
3
4

In [ ]:
# continue
# stop process this iteration of the loop and go on to the next iteration

for num in range(2, 10):
  
  if num % 2 == 0:
    print("even:", num)
    # moves on to the next iteration when an even is found
    continue
  
  # isn't processed when an even is found
  print("odd:", num)

even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9

## Class

- Class names are capitalized camel-case by convention.  This lets other developers know it's a class when reading your code.
- Properties are variables defined inside a class but not inside a method and are accessed with the `self` keyword.
- Methods are defined with the `def` keyword.
  - They are fuctions inside a class and are accessed with a `.` operator.
  - The first argument is always `self` which ties it to the instantiated object on creation.
  - Methods can access other methods and properties of the object using `self.some_property` or `self.some_method()` for example.
  - Methods otherwise act like functions in that they have their own variable scopes, can take zero or more arguments, and can return values.
- `__init__` defines a class' constructor method which can take zero or more argument variables to initialize an object of the class.

In [ ]:
# class and pass
# defining a mininal class with pass

def BareMinimumClass(object):
  pass

In [ ]:
# class

# defining a class with a property defined that extends the base object class
class MyClass(object):
  z = 5

# instantiating an object of the class type
my_object = MyClass()

# accessing the object's property
my_object.z

5

In [ ]:
# class, def, self, and __init__
# defining a class with a constructor and methods

# class that extends python's base object type
class Vehicle(object):

  units = "mph"

  # the constructor is always __init__
  def __init__(self, make, model, color):
    self.make = make
    self.model = model
    self.color = color

  # def method_name(self)
  # a method with no parameters
  def brake(self):
    return "Braking"

  # def method_name(self, param1, param2, ...)
  # a method with one parameter and accessing a property with self.property_name
  def accelerate(self, mph):
    # accessing self.units
    return "Accelerating to {} {}".format(mph, self.units)


# var_name = ClassName(params)
# instantiating an object of the Vehicle class type
corvette = Vehicle("Chevrolet", "Corvette", "Red")

# object_name.property_name
# accessing the object's properties with 
print(corvette.make)
print(corvette.model)
print(corvette.color)

# object_name.method_name(params)
# accessing the object's methods
print(corvette.accelerate(65))
print(corvette.brake())

Chevrolet
Corvette
Red
Accelerating to 65 mph
Braking

In [ ]:
# subclasses extend a parent class and can replace and/or add properties and
# methods of the parent, including constructors
class ElectricVehicle(Vehicle):

  # a new method that only applies to ElectricVehicle objects
  def charge(self):
    return "Charging"


# instantiating an object of the class type
tesla = ElectricVehicle("Tesla", "Model S", "White")

# accessing the object's properties
print(tesla.make)
print(tesla.model)
print(tesla.color)

# accessing the object's methods
print(tesla.accelerate(65))
print(tesla.brake())
print(tesla.charge())

Tesla
Model S
White
Accelerating to 65 mph
Braking
Charging

## Exceptions

### Common Built-in Exceptions

- `AttributeError` — raised when an attribute reference or assignment fails.
- `IOError` — raised when an I/O operation fails like opening a file: "file not found" or "disk full".
- `ImportError` — raised when an import statement cannot locate the
module or name definition.
- `IndexError` — raised when a sequence index isn't found in the range of existing indexes.
- `KeyError` — raised when a dictionary key isn't found in the set of existing keys.
- `KeyboardInterrupt` — rasied when the user hits the interrupt key (such
as Control-C or Delete).
- `NameError` — raised when a local or global name can't be found.
- `OSError` — rasied by  a system-related error.
- `SyntaxError` — rasied when a parser encounters a syntax error.
- `TypeError` — raised when an operation or function is applied to an object
of an incorrect type.
- `ValueError` — raised when a built-in operation / function receives an argument that has the right type but not an appropriate value, and the situation is not described by a more precise exception such as `IndexError`.
- `ZeroDivisionError` — raised when the second argument of a division or
modulo operation is zero.

In [ ]:
# catching exceptions with try...except

my_dict = {"a": 1, "b": 2, "c": 3}

try:
  value = my_dict["d"]
except KeyError as e:
  print("That key doesn't exist.")

That key doesn't exist.

In [ ]:
# detecting multiple exceptions
my_dict = {"a": 1, "b": 2, "c": 3}

try:
  value = my_dict["d"]
except IndexError as e:
  print("That index does't exist.")
except KeyError as e:
  print("That key doesn't exist.")  
except Error as e:
  print("Another error occurred.")

That key doesn't exist.

In [ ]:
# try...except...else -- optional else clause that executes if no errors are found
my_dict = {"a": 1, "b": 2, "c": 3}

try:
  value = my_dict["a"]
except KeyError as e:
  print("That key doesn't exist.")
else:
  print("No errors detected.")

No errors detected.

In [ ]:
# method chaining

class Policies(object):
  policyList = []

  def require(self, claim):
    self.policyList.append(claim)
    return self
  
  def __repr__(self):
    return f"policies={self.policyList}"

policies = Policies().require('add').require('update').require('remove')
policies

policies=['add', 'update', 'remove']